@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: currentColor;
}

body {
  letter-spacing: -0.02em;
  @apply text-off-black bg-off-white;
}

.responsive-container {
  @apply max-w-7xl mx-auto px-6;
}

::selection {
  @apply bg-light-yellow;
}

.bg-off-black ::selection,
.dark-section ::selection {
  @apply bg-dark-blue;
}

.selected-text-white ::selection {
  @apply bg-off-white/80;
}
